<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin - Free Bulma template</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <!-- Bulma Version 0.9.0-->
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/admin.css">
</head>



<body>
    <div id="navbarMenu" class="navbar-menu">
        <div class="navbar-end">
          <a href="/dashboard" class="navbar-item">
            <%= user.email %>
            
          </a>
        </div>
      </div>

    <section class="section has-background-primary">
        <div class="container">
          <div class="is-vcentered columns">
            <div class="column is-full">
              <h2 class="has-text-white has-text-centered mt-2 mb-3 is-size-1 is-size-3-mobile has-text-weight-bold">HealthLine</h2>
              <h3 class="has-text-white has-text-centered mt-2 mb-3 is-size-1 is-size-3-mobile"> Book Appointments  </h3>
            </div>
          </div>
        </div>
      </section>
               
                
                </section>
                <div class="columns">
                    <div class="column is-6">
                        <div class="card events-card">
                            <header class="card-header">
                                <p class="card-header-title">
                                    Date / Times (Tomorrow)
                                </p>
                                <a href="#" class="card-header-icon" aria-label="more options">
                  <span class="icon">
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                  </span>
                </a>
                            </header>
                           
                            <div class="card-table">
                                <div class="content">
                                    <table class="table is-fullwidth is-striped">
                                        <tbody>
                                            <tr>
                                                <td width="5%"><i class="fa fa-bell-o"></i></td>
                                                <td>07:00 AM</td>
                                                <td class="level-right" id="button1"><a class="button is-small is-primary" href="#">Available</a></td>
                                           
                                            </tr>
                                            <tr>
                                                <td width="5%"><i class="fa fa-bell-o"></i></td>
                                                <td>08:00 AM</td>
                                                <td class="level-right" id="button2"><a class="button is-small is-primary" href="#">Available</a></td>
                                               
                                            </tr>
                                            <tr>
                                                <td width="5%"><i class="fa fa-bell-o"></i></td>
                                                <td>09:00 AM</td>
                                                <td class="level-right"><a class="button is-small is-secondary" href="#">Not available</a></td>
                                            </tr>
                                            <tr>
                                                <td width="5%"><i class="fa fa-bell-o"></i></td>
                                                <td>10:00 AM</td>
                                                <td class="level-right" id="button3"><a class="button is-small is-primary" href="#">Available</a></td>
                                              
                                            </tr>
                                            <tr>
                                                <td width="5%"><i class="fa fa-bell-o"></i></td>
                                                <td>11:00 AM</td>
                                                <td class="level-right"><a class="button is-small is-secondary" href="#">Not available</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <footer class="card-footer">
                                <a href="#" class="card-footer-item">View All</a>
                            </footer>
                        </div>
                    </div>
                    <div class="column is-6">
                        <div class="card">
                            <header class="card-header">
                                <p class="card-header-title">
                                    Services Available
                                </p>
                                <a href="#" class="card-header-icon" aria-label="more options">
                  <span class="icon">
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                  </span>
                </a>
                            </header>
                    
                              
                              <div class="buttons">
                                <button class="button is-info is-light">Dental</button>
                            
                                <button class="button is-success is-light" >Nutrition</button>
                               
                                <button  class="button is-warning is-light">Dermatology</button>
                             
                                <button  class="button is-danger is-light"> COVID-19 </button>
                               
                                <button  class="button is-link is-light" > Pediatrics </button>
                                
                                <button class="button is-primary is-light">Physiotherapy</button>
                                
                              </div>
                        </div>
                  
                        <div class="card">
                            <header class="card-header">
                                <p class="card-header-title">
                                    Current Appointments
                                </p>
                                <a href="#" class="card-header-icon" aria-label="more options">
                  <span class="icon">
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                  </span>
                </a>
                            </header>
                            <div class="card-content">
                                <div class="content">
                                    <div id="myData" class="control has-icons-left has-icons-right">
                                         
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- FORM -->
    <div class="columns is-centered">
    <div class="column is-one-third has-text-left">
        <div class = "is-size-3 has-text-centered"> <h1> Make a booking! </h1> </div>
        
        <form method="post" id="booking-form" >
            <fieldset>
                <div class="field">
                    <label class="label">Name</label>
                    <div class="control">
                        <input class="input is-medium" type="text" name="inputName" id="inputName">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Email</label>
                    <div class="control">
                        <input class="input is-medium" type="text" name="inputEmail" id="inputEmail">
                    </div>
                </div>
                <div class="field">
                    <label class="label"> Time (Check available slots above) </label>
                    <div class="control">
                        <input class="input is-medium" name="inputTime" id="inputTime">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Which service do you want? (Check services available above)</label>
                    <div class="control">
                        <input class="input is-medium" name="inputService" id="inputService">
                    </div>
                </div>
                <div class="control">
                    <!-- <button type="button" class="button is-link is-fullwidth has-text-weight-medium is-medium is-success" onclick="storeData()">Send Question</button> -->
                    <button type="submit" id="hurra" class="button is-link is-fullwidth has-text-weight-medium is-medium is-success"> Confirm booking </button>
                </div>
            </fieldset>
        </form>
    </div>
    </div>
    <!-- END FORM -->

    <!-- <script async type="text/javascript" src="../js/bulma.js"></script> -->

    <script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-auth-compat.js"></script>
    
    <script>
    
    //   window.onload = () => {
       
    // };
      

   

    window.onload = () => {

        var userData = <%- JSON.stringify( user) %>
        console.log(userData);

     const firebaseConfig = {
      apiKey: "AIzaSyD_DkX4PI8irluZXH1Eg-BQC5CBRi3d8x4",
      authDomain: "healthline-9cd87.firebaseapp.com",
      projectId: "healthline-9cd87",
      storageBucket: "healthline-9cd87.appspot.com",
      messagingSenderId: "212046435096",
      appId: "1:212046435096:web:9c60d25ede9c48ee2f446d"
    };
        //Initialize Firebase
        const app = firebase.initializeApp(firebaseConfig);
        app.auth().setPersistence(firebase.auth.Auth.Persistence.NONE);


        form = document.getElementById("booking-form");
           form.addEventListener("submit", (event) => {
                event.preventDefault();
                alert("You will be charged $50 for your visit per service.");
                const email = event.target.inputEmail.value;
                const time = event.target.inputTime.value;
                const service  = event.target.inputService.value;
                const name = event.target.inputName.value;
        
                fetch('/book-data', {
                        method: 'POST',
                        headers: {
                        'Content-Type':'application/json'
                        },
                        body: JSON.stringify({
                            inputName : name,//'TEST',
                            inputEmail : email, //'justanotheremail@email.com',
                            inputTime : time,
                            inputService : service
                            }
                        ) // add the users ID token here
                        }).then((res) => {
                          if (res.status==200) { 
                            console.log('Booking done!'); 
                          }
                          else {
                            console.log('Booking Failed.')
                          }
                        });
                        form.reset();
                        createfn(event, userData);
              });
            
              
        };


                // const form = document.getElementById('booking-form');
                // form.addEventListener('submit', function handleSubmit(event) {
                // event.preventDefault();
                // // ðŸ‘‡ï¸ Send data to server here
                // // ðŸ‘‡ï¸ Reset form here
                // form.reset();
                // });


        // Displaying
        // document.getElementById("hurra").addEventListener("click", createfn, false);



        function createfn(event, userData)
{
        

            fetch('/get_data', {
            method: 'POST',
            headers: {
            'Content-Type':'application/json'
            },
            body: JSON.stringify({
                collectionName : 'bookings',//'TEST',
                
                }
            ) // add the users ID token here
            }).then(res => res.json())
            .then((res) =>{

                console.log('get data');
                console.log(res);
                // console.log(user.email);
                
            var mainContainer = document.getElementById("myData");
            // const user = app.auth().currentUser;
           
            for (var i = 0; i < res.req_data.length; i++) { 
                console.log(userData.email);
                if(res.req_data[i].email == userData.email) {   
                    mainContainer.innerHTML += '<br>' + "Appointment: " + res.req_data[i].service + "; " + res.req_data[i].time
                    console.log("Appointment:" + res.req_data[i].service);
                    }
            }
             });
}


        </script>

</body>

</html>